body {
    margin: 0 0 0 0;
    height: 100%;
    background: linear-gradient(to top, rgb(255, 255, 255), rgb(208, 208, 208));
}

/* Subject div */
.imageSubject {
    position: absolute;
    width: 225px;
    height: 225px;
    left:66px;
    top:66px;
    border: solid black 1px;
}
.infoSubject {
    width: 315px;
    background-color: #ffffff;
    margin-left: 20px;
    margin-top: 20px;
    border: solid black 2px;
}
.infoSubject p {
    padding-top: 100%;
    text-align: center;
    font-family: Arial, serif;
    font-size: 25px;
}

/* Content div */
.content {
    font-family: Arial, serif;
    font-size: 20px;
    padding-bottom: 10px;
}

/* Navigation menu */
.menu {
    position: sticky;
    height: 100px;
    background-color: #21272a;
    top: 90%;
    color: white;
}
.menu img {
    filter:invert(1);
    margin-bottom: 5px;
}

/* Subject images */
#_1 {
    background-image: url("../images/subjects/Al_Khwarizmi.png");
    transform: scale(1.4);
}
#_2 {
    background-image: url("../images/subjects/Von_Neumann.png");
    transform: scale(1.4);
}
#_3 {
    background-image: url("../images/subjects/Archi_Harvard_Neumann.png");
    transform: scale(1.4);
}
#_4 {
    background-image: url("../images/subjects/Alan_Turing.png");
    transform: scale(1.4);
}
#_5 {
    background-image: url("../images/subjects/Eniac.png");
    transform: scale(1.4);
}
#_6 {
    background-image: url("../images/subjects/George_Boole.png");
    transform: scale(1.4);
}
#_7 {
    background-image: url("../images/subjects/Donald_Knuth.png");
    transform: scale(1.4);
}
#_8 {
    background-image: url("../images/subjects/DeepLearning.png");
    transform: scale(1.4);
}
#_9 {
    background-image: url("../images/subjects/Python.png");
    transform: scale(1.4);
}
#_10 {
    background-image: url("../images/subjects/JavaScript.png");
    transform: scale(1.4);
}

/* Last page */
.thanks {
    height: 100%;
    width: 100%;
}
.github {
    background-color: #21272a;
    color: white;
    width: 100%;
    height: 300px;
}
.github p {
    margin : 0 0 0 0;
    padding-top: 75px;
    padding-left: 50px;
    font-size: 30px;
}
.github b {
    text-align: center;
    font-size: 50px;
    font-family: Arial, serif;
}
.github img {
    max-height: 250px;
    max-width: 250px;
    float: right;
    margin-right: 150px;
    margin-top: 25px;
    filter: invert(1);
}
.github a {
    color: white;
}
.github a:hover {
    font-style: italic;
}