html {
    width: 100%;
    height: 100%;
}
body {
    margin: 0 0 0 0;
    height: 100%;
    background: linear-gradient(to top, rgb(255, 255, 255), rgb(208, 208, 208));
}
/* Subject div */
.info {
    text-align: center;
}
.info p {
    position: absolute;
    top: 0;
    right: 50%;
    font-size: 8em;
    margin-bottom: 100px;
    font-family: Impact, serif;
}
.imageSubject {
    width: 225px;
    height: 225px;
    margin-left: 66px;
    margin-top: 66px;
    margin-bottom: 80px;
    border: solid black 2px;
}
.subject {
    font-size: 3em;
}

.sommaire {
    position: fixed;
    top: 0;
    right: 0;
    width: 30%;
    border: solid black 2px;
    font-size: 3em;
    text-align: center;
    background-color: #21272a;
    color: white;
}
.sommaire a:visited {
    text-decoration: none;
    color: inherit;
}
.sommaire a:active {
    text-decoration: none;
    color: inherit;
}
.sommaire a:hover {
    text-decoration: none;
    color: inherit;
}
/* Content div */
.content h2 {
    padding-left: 20px;
    font-family: Arial, sans-serif;
    font-size: 3em;
    text-decoration: underline;
}
.content p {
    padding-left: 20px;
    padding-right: 20px;
    font-family: Arial, sans-serif;
    font-size: 3em;
    text-align: justify;
}

/* Navigation menu */
.menu {
    position: fixed;
    height: 100px;
    width: 100%;
    background-color: #21272a;
    bottom: 0;
    color: white;
}
.menu img {
    filter:invert(1);
}
#arr_left {
    padding-left: 20px;
    margin-right: 40%;
}
#arr_right {
    float: right;
    padding-right: 20px;
}
#home {

}

/* Subject images */
#p1 {
    background-image: url("../images/subjects/Al_Khwarizmi.png");
    transform: scale(1.4);
}
#p2 {
    background-image: url("../images/subjects/Von_Neumann.png");
    transform: scale(1.4);
}
#p3 {
    background-image: url("../images/subjects/Alan_Turing.png");
    transform: scale(1.4);
}
#p4 {
    background-image: url("../images/subjects/Donald_Knuth.png");
    transform: scale(1.4);
}
#p5 {
    background-image: url("../images/subjects/DeepLearning.png");
    transform: scale(1.4);
}
#p6 {
    background-image: url("../images/subjects/Python.png");
    transform: scale(1.4);
}
#p7 {
    background-image: url("../images/subjects/JavaScript.png");
    transform: scale(1.4);
}
#p8 {
    background-image: url("../images/subjects/Github.png");
    transform: scale(1.4);
}


/* Last page */
.headbox {
    width: 100%;
    height: 10%;
    padding-bottom: 0.5em;
    background-color: #21272a;
    font-family: Arial, serif;
    color: white;
    text-align: center;
}
.headbox p {
    margin: 0 0 0 0;
    font-size: 4em;
}
.headbox i {
    font-size: 2em;
}
.games {
    height: 670px;
    width: 100%;
    background-color: #4c4c4c;
    color: white;
    font-size: 35px;
}
.games button {
    width: 300px;
    height: 200px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}
.hoverText {
    text-align: center;
    font-size: 3em;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
}
.games button:hover .hoverText {
    display: block;
}
.github {
    background-color: #21272a;
    color: white;
    width: 100%;
    height: 280px;
    position: fixed;
    bottom: 0;
}
.github p {
    margin : 0 0 0 0;
    padding-top: 75px;
    padding-left: 50px;
    font-size: 30px;
}
.github b {
    text-align: center;
    font-size: 50px;
    font-family: Arial, serif;
}
.github img {
    max-height: 250px;
    max-width: 250px;
    float: right;
    margin-right: 150px;
    margin-top: 25px;
    filter: invert(1);
}
.github a {
    color: white;
}
.github a:hover {
    font-style: italic;
}


/* Games */
.gameMenu {
    display: none;
    position: fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background-color:rgba(0,0,0,0.9);
}
.gameMenu .esc {
    float: right;
}

/* Nim */
.game1 {
    display: none;
    margin: auto;
    width: 50%;
}
.game1 p {
    position: fixed;
    float: right;
    color: #3f72e0;
    text-shadow: 3px 0 0 black, -1px 0 0 black, 0 3px 0 black, 0 -1px 0 black, 2px 2px black, 0  0 black, 2px 0 0 black, 0 2px 0 black;
    font-size: 4em;
    top: 5%;
    left: 55%;
}
.game1 img {
    margin-top: 10%;
    margin-bottom: 20px;
}
.game1 .btn {
    display: inline-block;
    background-color: #0c3576;
    color: white;
    font-size: 2em;
    font-family: Arial,Serif;
    width: 300px;
    height: 50px;
    margin-right: 20px;
}
.game1 .help {
    position: fixed;
    top:-15%;
    bottom: 0;
    left: 21%;
    right: 0;
}
.retry {
    display: none;
    width: 960px;
    height: 50px;
    background-color: #0c3576;
    color: white;
    font-size: 2em;
    font-family: Arial,Serif;
}
.botplaying {
    display: none;
    width: 960px;
    height: 50px;
    background-color: #0c3576;
    color: white;
    text-align: center;
    font-size: 2em;
    font-family: Arial,Serif;
}

/* Painted */
.game2 {
    display: none;
    margin: auto;
    width: 50%;
}
